<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site created by David, It will help us to find the weather details</p>
        <p>This is not the real project, it was created for learning purpose</p>
    </div>
    
    {{>footer}}
</body>

</html>